<div class="d-flex justify-content-center align-items-center">
    <img src="../../assets/logo.png" class="logo" alt="Logo">
</div>
<!-- Pills navs -->
<div class="text-center mt-5">
    <!-- <h1>Sign Up</h1> -->
    <span>Connect to smart bracelet</span>
</div>

<!-- Pills content -->
<div class="tab-content" style="width: 70%; margin-left: 15%;margin-top: 10%;">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <label class="form-label" for="loginPassword">Enter Code <span class="red-text">*</span></label>
        <input type="password" id="loginPassword" class="form-control mb-4" formControlName="password" />
        <button class="btn btn-primary" style="width: 100%; color: white" routerLink="/details">
            <h5><strong>Connect</strong> </h5>
        </button>
        <div class="text-center my-3">
            <h2><span>or</span></h2>
        </div>

        <div style="display: flex; justify-content: center; align-items: center; height: 35vh;">
            <img src="../../assets/qr.png" alt="QR Code">
            
        </div>
        
        
    
    </div>
 
</div>
<!-- Pills content -->