<div class="d-flex justify-content-center align-items-center">
    <img src="../../assets/logo.png" class="logo" alt="Logo">
</div>
<!-- Pills navs -->
<div class="text-center mt-5">
    <!-- <h1>Sign Up</h1> -->
    <span>Welcome to LifeLink! Please <br>enter your details.</span>
</div>

<!-- Pills content -->
<div class="tab-content" style="width: 70%; margin-left: 15%;margin-top: 10%;">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <button class="btn btn-primary" style="width: 100%; color: white" routerLink="/connect">
            <h5><i class="fa fa-plus-circle mr-5"></i> <strong>  Connect new smart bracelet</strong> </h5>
        </button>
        <div class="text-center my-3">
            <h2><span>or</span></h2>
        </div>
        <div class="card mb-3" style="max-width: 600px; border-radius: 15px;">
            <div class="row no-gutters">
            <div class="containerFor flex-row">
                <div class="col-md-3">
                    <img src="../../assets/mom.jpg" class="test" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title mt-4">Your Mom<i class="arrow right circle-arrow" style="float: right;"></i></h5>
                        <span>Merry</span>
                    </div>
                </div>
            </div>
            </div>
        </div>
        
        <div class="card mb-3" style="max-width: 600px; border-radius: 15px;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="../../assets/dad.jpg" class="test" width="100px" height="100px" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title mt-4">Your Dad <i class="arrow right circle-arrow" style="float: right;"></i></h5>
                        <span>Jeson</span>
                            <!-- Triple arrow inside a circle -->
                    </div>
                </div>
            </div>
        </div>
        
        
        
    
    </div>
 
</div>
<!-- Pills content -->